body {
  margin: 0px;
}
.ztoolbar {
  padding:5px;
  background-color: #dedede;
  height: 22px;
}
.ztoolbar button {
  margin-right: 5px;
  background-color: #f0f0f0;
  border: 2px solid #ffffff;
}
.flex_body .etabs-views {
  height: calc(100vh - 65px);
}
.flex_body .etabs-views.maximizedtab {
  height: calc(100vh - 33px);
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#login_popup {
  display: none;
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#login_cancel {
  margin: 1em 1em 0 0;
}

#login_ok {
  margin: 1em 1em 0 0;
}
